<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{akkaSource}) %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{akkaSource}) %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <options>
      <!-- NOTE: Replace the test DSN below with your DSN to see the events from this app in sentry.io -->
      <dsn>https://3e0cf5f4808543c78f7b983210b426d1@sentry.kinoplan.tech/60</dsn>
      <shutdownTimeout>2000</shutdownTimeout>
      <flushTimeoutMillis>15000</flushTimeoutMillis>
      <debug>false</debug>
      <maxBreadcrumbs>100</maxBreadcrumbs>
      <release>my-project-name@2.3.12</release>
      <environment>production</environment>
      <sampleRate>1.0</sampleRate>
      <attachThreads>false</attachThreads>
      <attachStacktrace>false</attachStacktrace>
      <serverName>host-4</serverName>
      <connectionTimeoutMillis>5000</connectionTimeoutMillis>
      <readTimeoutMillis>5000</readTimeoutMillis>
    </options>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
